<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-4 pe-md-0">
          <div class="auth-side-wrapper" style="background-image : 'url(../../../../../assets/images/login/logo.jpg)'"> 

          </div>
        </div>
        <div class="col-md-8 ps-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <h5 class="text-muted fw-normal mb-4">"Viaje, Trabalhe, Divirta-se..."</h5>
            <a routerLink="." class="nobleui-logo d-block mb-2">Excursan<span style="color: orange;">doo!</span></a>
            <form [formGroup]="loginForm" class="forms-sample">
              <div class="mb-3">
                <label for="userDoo" class="form-label">Usuário</label>
                <input type="text" class="form-control" id="userDoo" placeholder="(21) 98481-3307" formControlName="usuarioLogin" >
              </div>
              <div class="mb-3">
                <label for="passwordDoo" class="form-label">Senha</label>
                <input type="password" class="form-control" id="passwordDoo" autocomplete="current-password" placeholder="Senha" formControlName="chaveDeAcesso">
              </div>
              <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="authCheck">
                <label class="form-check-label" for="authCheck">
                  Me lembrar
                </label>
              </div>
              <div>
                <button *ngIf="!loading" class="btn btn-success me-2 mb-2 mb-md-0" (click)="onLoggedin()">Login</button>
                <button *ngIf="loading" class="btn btn-success" type="button" disabled>
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Loading...
                </button>
                <!-- <button type="button" class="btn btn-outline-primary btn-icon-text mb-2 mb-md-0">
                  <i class="feather icon-twitter btn-icon-prepend"></i>
                  Login with twitter
                </button> -->
              </div>
              <a routerLink="/auth/register" class="d-block mt-3 text-muted">Não tem uma conta? Cadastre-se</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
