<nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="../">Início</a></li>
      <li class="breadcrumb-item active" aria-current="page">Fornecedores</li>
    </ol>
  </nav>
  
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Cadastro de Fornecedores</h4>
          <button type="button" class="btn btn-warning btn-icon-text">
            <i class="feather icon-zap btn-icon-prepend"></i>
            Novo Fornecedor
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="!isLoading" class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Lista de Fornecedores</h6>
          <div class="table-responsive">
            <table id="dataTableExample" class="table">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>CNPJ</th>
                  <th>Cidade</th>
                  <th>Categoria</th>
                  <th>Pontuação</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Tiger Nixon</td>
                  <td>121231230001-01</td>
                  <td>Rio de Janeiro</td>
                  <td>Fretamento</td>
                  <td>
                    <ngb-rating [(rate)]="currentRate" ></ngb-rating>
                  </td>
                  <td class="">
                    <button type="button" class="btn btn-icon btn-info" style="margin-right: 5px;">
                      <i class="feather icon-edit"></i>
                    </button>
                    <!-- <button type="button" class="btn btn-icon btn-warning" style="margin-right: 5px; margin-left: 5px;">
                      <i class="feather icon-users"></i>
                    </button>
                    <button type="button" class="btn btn-icon btn-success" style="margin-right: 5px; margin-left: 5px;">
                      <i class="feather icon-dollar-sign"></i>
                    </button>
                    <button type="button" class="btn btn-icon btn-danger" style="margin-right: 5px; margin-left: 5px;">
                      <i class="feather icon-dollar-sign"></i>
                    </button>
                    <button type="button" class="btn btn-icon btn-facebook" style="margin-right: 5px; margin-left: 5px;">
                      <i class="feather icon-check-square"></i>
                    </button> -->
                    <button type="button" class="btn btn-icon btn-secondary" style="margin-left: 5px;">
                      <i class="feather icon-trash-2"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isLoading" class="spinner-wrapper">
    <div class="spinner">Loading...</div>
  </div>