<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="../">Início</a></li>
    <li class="breadcrumb-item active" aria-current="page">Minhas Excursões</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Minhas Excursões</h4>
        <button type="button" class="btn btn-warning btn-icon-text" routerLink="/all-trips/new-trip">
          <i class="feather icon-zap btn-icon-prepend"></i>
          Nova Excursão
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isLoading" class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-4">
                <h6 class="card-title">Lista de Excursões</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <input class="form-control" type="text" [(ngModel)]="filter" placeholder="Pesquisar na tabela" name="filter"
              #maxlength="ngModel" maxlength="5" />
          </div>
        </div>

        <div class="table-responsive">
          <ngx-datatable class="bootstrap" [rows]="filteredData" [loadingIndicator]="loadingIndicator"
            [columnMode]="ColumnMode.force" [footerHeight]="50" [limit]="page.size" rowHeight="auto"
            [externalPaging]="true" [count]="trips.length" [offset]="offset" (page)="onPageChange($event)">
            <ngx-datatable-column name="Id">
              <ng-template let-column="column" ngx-datatable-header-template>
                <span>Imagem</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <figure class="mb-0 me-2">
                  <img src="{{'http://' + row.image}}" class="img-xs rounded-circle" alt="user">
                </figure>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Title">
              <ng-template let-column="column" ngx-datatable-header-template>
                <span>Título</span>
              </ng-template>
              <ng-template #title let-row="row" ngx-datatable-cell-template>
                <figure class="mb-0 me-2">
                  {{row.title}}
                </figure>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Status">
              <ng-template let-column="column" ngx-datatable-header-template>
                <span>Status</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="checkbox" [(ngModel)]="row.status" (change)="logValue(row)" >
                  
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="date_start">
              <ng-template let-column="column" ngx-datatable-header-template>
                <span>Ida</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <figure class="mb-0 me-2">
                  <button type="button" class="btn btn-icon btn-info" style="margin-right: 5px;">
                    <i class="feather icon-edit"></i>
                  </button>
                  <button type="button" class="btn btn-icon btn-warning" style="margin-right: 5px; margin-left: 5px;">
                    <i class="feather icon-users"></i>
                  </button>
                  <button type="button" class="btn btn-icon btn-success" style="margin-right: 5px; margin-left: 5px;">
                    <i class="feather icon-dollar-sign"></i>
                  </button>
                  <button type="button" class="btn btn-icon btn-danger" style="margin-right: 5px; margin-left: 5px;">
                    <i class="feather icon-dollar-sign"></i>
                  </button>
                  <button type="button" class="btn btn-icon btn-facebook" style="margin-right: 5px; margin-left: 5px;">
                    <i class="feather icon-check-square"></i>
                  </button>
                  <button type="button" class="btn btn-icon btn-secondary" style="margin-left: 5px;">
                    <i class="feather icon-trash-2"></i>
                  </button>
                </figure>
              </ng-template>
            </ngx-datatable-column>
            <!-- <ngx-datatable-column name="date_end">
              <ng-template let-column="column" ngx-datatable-header-template>
                <span>Volta</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <figure class="mb-0 me-2">
                  {{row.date_end | date: "dd/MM/Y"}}
                </figure>
              </ng-template>
            </ngx-datatable-column> -->
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isLoading" class="spinner-wrapper">
  <div class="spinner">Loading...</div>
</div>